*{
    margin:0;
    padding:0;
    border:0;
}





/*--------------------------------------------------------------------Colors starts*/
body{
    background-color:black;
}




/*--------------------------------------------------------------------Colors ends*/



/*-------------------------------------------------------------------Header starts*/
.navbar-nav{
    text-align:center;
}


#lion-logo{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:80%;
    border-radius:50%;
}

#nav-logo{
    width: 35%;
}



#header-image{
    background-image:url("/main/images/elephant.jpg");
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:20em;
}

#text-block{
    text-align: center;
    font-size: 4em;
    letter-spacing: 0.1em;
    color:rgba(250, 250, 150, 0.5);
    position:relative;
    bottom:0.3em;
}


@media screen and (min-width: 320px) {  /* For very small mobile devices*/
    #text-block{
    text-align: center;
    font-size: 4em;
    letter-spacing: 0.1em;
    color:rgba(250, 250, 150, 0.5);
    position:relative;
    bottom:0.3em;
}
}

@media screen and (min-width: 375px){ /*For Medium and Large mobile devices*/
    #text-block{
    text-align: center;
    font-size: 5em;
    letter-spacing: 0.1em;
    color:rgba(250, 250, 150, 0.5);
    position:relative;
    bottom:0.3em;
}
}



/*-------------------------------------------------------------------Header ends*/


/*-------------------------------------------------------------------Main Starts*/

#main-content{
    background-color:yellow;
    height: 70em;
}


.main-images img{
    width:100%;
    height:15em;
    margin: 1em 0;
}




/*-------------------------------------------------------------------Main Ends*/